<table class="author">
	<tr class="subject">
		<td class="label">Subject:</td>
		<td class="info">{{summary}}</td>
	</tr>
	<tr class="author">
		<td class="label">Author:</td>
		<td class="info">{{author}}</td>
	</tr>
	<tr class="author-date">
		<td class="label">Date:</td>
		<td class="info">{{authorDate}}</td>
	</tr>
</table>
<table class="identity">
	<tr class="hash">
		<td class="label">SHA:</td>
		<td class="info">{{sha}}</td>
	</tr>
	{{#each parents}}
	<tr class="parent">
		<td class="label">Parent:</td>
		<td class="info">{{sha}}</td>
	</tr>
	{{/each}}
</table>
