{{#each patches}}
<div class='patch'>
	<div class='patch-header'>diff "{{oldFile}}" "{{newFile}}"</div>
	<table>
	{{#each hunks}}
		<tr class="hunk">
			<td>...</td>
			<td>...</td>
			<td></td>
			<td>{{header}}</td>
		</tr>
		{{#each lines}}
		<tr class="diff-line {{classes}}">
			<td>{{oldLineno}}</td>
			<td>{{newLineno}}</td>
			<td>{{origin}}</td>
			<td>{{content}}</td>
		</tr>
		{{/each}}
	{{/each}}
	</table>
</div>
{{/each}}
