<div class="patch-header {{#if show}}show{{/if}}">
	<div class="patch-name">{{file}}</div>
	{{#unless loading}}{{#unless binary}}
	<div class="patch-expand" />
	{{/unless}}{{/unless}}
</div>
{{#each msgs}}
<div class="diff-msg">{{msg}}</div>
{{/each}}
{{#if loading}}
<div class="loading">loading...</div>
{{else if show}}
<table>
{{#each hunks}}
	<tr class="hunk">
		<td>...</td>
		<td>...</td>
		<td></td>
		<td>{{header}}</td>
	</tr>
	{{#each lines}}
	<tr class="diff-line {{classes}}" id="{{id}}">
		<td>{{oldLineno}}</td>
		<td>{{newLineno}}</td>
		<td>{{origin}}</td>
		<td>{{content}}</td>
	</tr>
	{{/each}}
{{/each}}
</table>
{{else}}
<div class="large-diff">{{lines}} lines: click to open</div>
{{/if}}
