<div class="refs-sect">
<div class="working section">
	<div class="title">{{title}}</div>
	<div class="stage-line">
		<div class="stage">Stage</div>
	</div>
</div>
<div class="branches section">
	<div class="title">Branches</div>
	{{#each branches}}
	<div class="branch-line" id="{{idName}}">
		<div class="local-branch">{{name}}</div>
		<div class="active-badge"></div>
	</div>
	{{/each}}
</div>
<div class="remotes section">
	<div class="remote-title title">Remotes</div>
	{{#each remotes}}
	<div class="remote-section" id="{{idName}}">
		<div class="remote-header">
			<svg class="close-arrow" viewBox="0 0 24 24"><path d="M 5 4 l 14 8 -14 8 z" /></svg>
			<svg class="open-arrow" viewBox="0 0 24 24"><path d="M 4 5 l 16 0 -8 14 z" /></svg>
			<div class="remote-name">{{rname}}</div>
		</div>
		{{#each branches}}
		<div class="remote-line" id="{{idName}}">
			<div class="remote-branch">{{name}}</div>
		</div>
		{{/each}}
	</div>
	{{/each}}
</div>
{{#if tags}}
<div class="tags section">
	<div class="tags-header">
		<svg class="close-arrow" viewBox="0 0 24 24"><path d="M 5 4 l 14 8 -14 8 z" /></svg>
		<svg class="open-arrow" viewBox="0 0 24 24"><path d="M 4 5 l 16 0 -8 14 z" /></svg>
		<div class="tags-title title">Tags</div>
	</div>
	{{#each tags}}
	<div class="tag-line" id="{{idName}}">
		<div class="tag-name">{{name}}</div>
	</div>
	{{/each}}
</div>
{{/if}}
{{#if submodules}}
<div class="submodules section">
	<div class="submodule-title title">Submodules</div>
	{{#each submodules}}
	<div class="submodule-line" id="{{idName}}">
		<div class="submodule">{{name}}</div>
	</div>
	{{/each}}
</div>
{{/if}}
</div>
<div class="nav-buttons">
	<button class="show-recent">
		<svg viewBox="0 0 24 24"><path d="M 2 12 l 10 10 l 0 -6.5 l 10 0 l 0 -7 l -10 0 l 0 -6.5 z" /></svg>
	</button>
	<div class="busy-indicator"></div>
</div>
